{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<h1>ENTREGABLES</h1>
<p>Acá va la info de los Entregables</p>

        {% if miFormulario.errors %}

        <p style="color: red;">Están mal los datos, revisar</p>

        {% endif %}


        <form action="" method = "POST">{% csrf_token %}

            <table>

                {{ miFormulario.as_table }}

            </table>

            <input type="submit" value ="enviar">


        </form>

{% endblock %}