<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for p in profesores %}

        <li>{{p}}</li>
        <button>
            <a href="{% url 'eliminarProfesor' p.nombre %}" >Eliminar</a>     
            <a href="{% url 'editarProfesor' p.nombre %}" >Editar</a>     
        </button>

    {% endfor %}


    <br></br>
    <a href="profesores" >Agregar otro profesor</a>     



</body>
</html>